.header_accueil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    background-color: lightblue;
}

.title_accueil{
    height: 10dvh;
    margin-top: 0;
    margin-bottom: 0;
    width: 90dvw;
    font-size: 10dvh;
    text-align: center;
}

.button_accueil {
    border: 0;
    line-height: 2;
    padding-top: 2dvh;
    padding-left: 2dvw;
    padding-bottom: 2dvh;
    padding-right: 2dvw;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 1dvh;
    margin-left: 1dvw;
    margin-bottom: 1dvh;
    margin-right: 1dvw;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: yellow;
}

.button_accueil:hover {
    background-color: black
}

.button_accueil:active {
    background-color: grey
}
.article_accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_accueil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text_accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    line-height: 3;
    padding-top: 2dvh;
    padding-left: 2dvw;
    padding-bottom: 2dvh;
    padding-right: 2dvw;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 1dvh;
    margin-left: 1dvw;
    margin-bottom: 1dvh;
    margin-right: 1dvw;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: blue;
}

.article_accueil{
    background-image: url("../img/accueil.svg");
}